Data-X(IEOR 290): HW1
Name: Siddharth Gupta
SID: 3032166801

Q1: Empty Python list "a"

In [32]:
a = []

Q2: Store numbers between 2 and 46 with 0.5 increments

In [33]:
a = [x*0.5 for x in range(4, 93)]
a

[2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.5,
 22.0,
 22.5,
 23.0,
 23.5,
 24.0,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 27.0,
 27.5,
 28.0,
 28.5,
 29.0,
 29.5,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 35.0,
 35.5,
 36.0,
 36.5,
 37.0,
 37.5,
 38.0,
 38.5,
 39.0,
 39.5,
 40.0,
 40.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 43.5,
 44.0,
 44.5,
 45.0,
 45.5,
 46.0]

Q3: Double every even integer element of a and store back in a

In [34]:
for i in range(len(a)):
    if a[i]%2 == 0:
        a[i] = a[i]*2

a

[4.0,
 2.5,
 3.0,
 3.5,
 8.0,
 4.5,
 5.0,
 5.5,
 12.0,
 6.5,
 7.0,
 7.5,
 16.0,
 8.5,
 9.0,
 9.5,
 20.0,
 10.5,
 11.0,
 11.5,
 24.0,
 12.5,
 13.0,
 13.5,
 28.0,
 14.5,
 15.0,
 15.5,
 32.0,
 16.5,
 17.0,
 17.5,
 36.0,
 18.5,
 19.0,
 19.5,
 40.0,
 20.5,
 21.0,
 21.5,
 44.0,
 22.5,
 23.0,
 23.5,
 48.0,
 24.5,
 25.0,
 25.5,
 52.0,
 26.5,
 27.0,
 27.5,
 56.0,
 28.5,
 29.0,
 29.5,
 60.0,
 30.5,
 31.0,
 31.5,
 64.0,
 32.5,
 33.0,
 33.5,
 68.0,
 34.5,
 35.0,
 35.5,
 72.0,
 36.5,
 37.0,
 37.5,
 76.0,
 38.5,
 39.0,
 39.5,
 80.0,
 40.5,
 41.0,
 41.5,
 84.0,
 42.5,
 43.0,
 43.5,
 88.0,
 44.5,
 45.0,
 45.5,
 92.0]

Q4: Add all numbers in a except for 32nd and 51st elements

In [35]:
sum = 0
for i in range(len(a)):
    if not (i==31 or i==51):
        sum += a[i]

sum

2643.0

Q5: Calculate the mean of a

In [37]:
total_sum = 0
for i in range(len(a)):
    total_sum += a[i]

mean = total_sum/len(a)
mean

30.202247191011235

Q6: Create a new list called a_half, containing all the .5 (half-numbers) in a

In [38]:
a_half = []
for i in range(len(a)):
    if not i % 2 == 0:
        a_half.append(a[i])

a_half

[2.5,
 3.5,
 4.5,
 5.5,
 6.5,
 7.5,
 8.5,
 9.5,
 10.5,
 11.5,
 12.5,
 13.5,
 14.5,
 15.5,
 16.5,
 17.5,
 18.5,
 19.5,
 20.5,
 21.5,
 22.5,
 23.5,
 24.5,
 25.5,
 26.5,
 27.5,
 28.5,
 29.5,
 30.5,
 31.5,
 32.5,
 33.5,
 34.5,
 35.5,
 36.5,
 37.5,
 38.5,
 39.5,
 40.5,
 41.5,
 42.5,
 43.5,
 44.5,
 45.5]

Q7: Sort a so that all integers (i.e. 2.0, 3.0 etc.) are stored before the half-numbers (i.e. 2.5, 3.5,4.5 etc.). The elements should also be stored in increasing order from low to high for the integer and the half-number parts of the list. Store the results in a.

In [39]:
a_integers = []
for i in range(len(a)):
    if i%2 == 0:
        a_integers.append(a[i])
        
a_integers = sorted(a_integers)

a = a_integers + a_half

a

[3.0,
 4.0,
 5.0,
 7.0,
 8.0,
 9.0,
 11.0,
 12.0,
 13.0,
 15.0,
 16.0,
 17.0,
 19.0,
 20.0,
 21.0,
 23.0,
 24.0,
 25.0,
 27.0,
 28.0,
 29.0,
 31.0,
 32.0,
 33.0,
 35.0,
 36.0,
 37.0,
 39.0,
 40.0,
 41.0,
 43.0,
 44.0,
 45.0,
 48.0,
 52.0,
 56.0,
 60.0,
 64.0,
 68.0,
 72.0,
 76.0,
 80.0,
 84.0,
 88.0,
 92.0,
 2.5,
 3.5,
 4.5,
 5.5,
 6.5,
 7.5,
 8.5,
 9.5,
 10.5,
 11.5,
 12.5,
 13.5,
 14.5,
 15.5,
 16.5,
 17.5,
 18.5,
 19.5,
 20.5,
 21.5,
 22.5,
 23.5,
 24.5,
 25.5,
 26.5,
 27.5,
 28.5,
 29.5,
 30.5,
 31.5,
 32.5,
 33.5,
 34.5,
 35.5,
 36.5,
 37.5,
 38.5,
 39.5,
 40.5,
 41.5,
 42.5,
 43.5,
 44.5,
 45.5]

Q8: Printing every fourth element

In [25]:
for i in range(len(a)):
    if i%4 == 0:
        print (a[i])

3.0
8.0
13.0
19.0
24.0
29.0
35.0
40.0
45.0
60.0
76.0
92.0
5.5
9.5
13.5
17.5
21.5
25.5
29.5
33.5
37.5
41.5
45.5

Q8: Print number of integers and half-numbers

In [27]:
print (len(a_integers))
print (len(a_half))

45
44